*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ffff;
    color:#1a1a1a;
    font-family: 'Times New Roman', serif;
    overflow-x:hidden;
    -webkit-font--smoothing: antialiased;
    scroll-behavior: smooth;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:block;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
}

h1,h2,h3,h4{
    font-family:'Playfair Display',serif;
    font-weight: 400;
    line-height: 1.1;
    padding-top: 40px;
}

.container{
    width:90%;
    margin: 0 auto;
}

.label{
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 2px;
    color: #282828;
    display: block;
    margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

p{
    font-size: 0.9rem;
    line-height: 1.5;
    color: #282828;
    margin-bottom: 1.5rem;
    max-width: 60ch;
}

.reveal-up{
    transform: translateY(40px);
    opacity: 0;
    transition: 0.6s ease-out;
}

.reveal-up.active{
    transform: translateY(0);
    opacity: 1;
}

.reveal-text{
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.section-padding{
    padding: 90px 80px;
}

@keyframes fadeIn{
    form{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomOut{
    form{
        transform: scale(1.15);
    }
    to{
        transform:scale(1);
    }
}


nav{
    position: fixed;
    top:0;
    width: 100%;
    padding: 2rem 5%;
    display:flex;
    justify-content: space-between;
    mix-blend-mode: difference;
    z-index: 100;
    align-items: center;
    color: #ffff;
}

.logo{
    font-family: 'Playfair Display',serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.nav-links{
    display: flex;
    gap: 3rem;
}

.nav-links a{
    position:relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}

.nav-links a::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width:0%;
    height: 1px;
    background: currentColor;
    transition: 0.4s ease;
}

.nav-links a:hover::after{
    width: 100%;
}


.hero{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffff;
}

.hero-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.7);
    animation: zoomOut 10s ease-out forwards;    
}

.hero-content{
    z-index: 2;
}

.hero p{
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #ffff;
}

.hero h1{
    font-size: 80px;
    margin-top: 1rem;
    color: #ffff;
}

.about{
    background: #f4f4f4;
}

.about p{
    font-size: 1rem;
}

.about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
}

.about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 60px;
    position: relative;
    overflow: hidden;
}

.about-img img{
    transition: transform 0.8s ease;
}

.about-img:hover img{
    transform: scale(1.1);
}

.destination-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    gap: 2rem;
    margin-top: 4rem;
    align-items: center;
}

.card{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 30px;
}

.card:hover{
    background-color: #f4f4f4;
    border: 1px solid #c7c7c7;
}

.card-img{
    height: 500px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
    position: relative;
}

.card-img img{
    transition: transform 0.9s ease-in-out;
}

.card:hover .card-img img{
    transform: scale(1.1);
}

.card-content{
    position: relative;
}

.card-content h3{
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.card-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 0.9rem;
    color: #282828;
    border-top:1px solid #c7c7c7;
}

.card-details span{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.msg-btn{
    margin-top: 15px;
    padding: 10px 22px;
    background: #f4f4f4;
    color: #1a1a1a;
    border: #111 solid 1px;
    font-size: 0.85rem;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.msg-btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #111;
    transition: 0.4s ease;
    z-index: -1;
}

.msg-btn:hover{
    color: #fff;
}
.msg-btn:hover::after{
    width: 100%;
}

.contact {
    background: #f4f4f4;
    text-align: center;
    color: #1a1a1a;
    position: relative;
}

.contact .container {
    position: relative;
    z-index: 2;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-form input,
.contact-form textarea {
    width: 70%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 1rem;
    outline: none;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #282828;
    font-family: 'Times New Roman', serif;
}


.btn-submit {
    margin-top: 15px;
    padding: 10px 22px;
    width: auto;
    background: #f4f4f4;
    color: #1a1a1a;
    border: #111 solid 1px;
    font-size: 0.85rem;
    cursor: pointer;
    transition: 0.3s ease;
    overflow: hidden;
    position: relative;
    align-self: center;
    z-index: 1;
}


.btn-submit::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #111;
    transition: 0.4s ease;
    z-index: -1;
}

.btn-submit:hover{
    color: #fff;
}
.btn-submit:hover::after{
    width: 100%;
}

.footer{
    background: #1a1a1a;
    color: #fff;
    padding-bottom:2rem;
}

.footer-top{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    gap: 4rem;
    padding: 4rem 0;
    border-bottom: #2d2d2d solid 0.2px;
}

.footer-col .logo{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 50px;
    
}
.footer-col h4{
   font-family:'Times New Roman', Times, serif;
   text-transform: uppercase;
   margin-bottom: 2rem;
   font-size: 0.8rem;
   opacity: 0.6;
}

.footer-col p{
    font-size: 1.2rem;
    color: #c7c7c7;
}

.footer-col ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-col ul li{
    margin-bottom: 0.8rem;
    padding-left: 10px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    font-size: 0.8rem;
    color: rgba(242, 242, 242, 0.4);
}

.footer-bottom p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.95rem;
}

#msg {
    position: fixed;
    top: 80px;
    right: 10px;
    transform: translateX(100%);
    background: #fff;
    color: #1a1a1a;
    padding: 14px 26px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-left: 6px solid #22c55e;
    border-radius: 10px;
    font-size: 1rem;
    opacity: 0;
    transition: 0.5s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#msg.show {
    transform: translateX(0);
    opacity: 1;
}

